<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <div class="d-flex align-items-center text-dark text-decoration-none">
        <h2 class="fs-4">Listado de turnos</h2>
    </div>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <app-listado-turnos [listadoTurnos]="listadoTurnos"
                        (turnoSeleccionado)="tomarTurnoParaDetalles($event)">>
                        </app-listado-turnos>
      </div>
    </div>

    </div>
